project:
  type: website
  output-dir: docs

website:
  title: "Leah Levensailor"
  navbar:
    search: true
    left:
    - text: "Home"
      href: index.qmd
    - text: "Air Pollution"
      href: Project 3/mapping.qmd
    - text: "Leah Levensailor"
      href: about.qmd
    

format:
  html:
    theme: lux
    css: styles.css
    toc: true

editor: visual

